# Notebook for practicing pySpark

resource: https://runawayhorse001.github.io/LearningApacheSpark/pyspark.pdf

Goal: Complete everything till page 52

In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# you can access all the contexts via spark session. No need to have a separate 
# context for spark, sql, streaming, hive etc
spark = SparkSession\
                .builder.appName("My First Spark App")\
                .config("spark.executors.cores", "4")\
                .config("spark.executors.memory", "10g")\
                .getOrCreate()
# help(SparkSession.builder.config)

In [2]:
data = [[1,2,3,"mom"],
       [2,3,4, "dad"],
       [3,4,5,"mistress"],
       [5,6,7, "jon snow"]]

cols = ['A', 'B', 'C', 'Crime']
p_df = pd.DataFrame(data, columns=cols)
s_df = spark.createDataFrame(data, schema=cols)

In [3]:
p_df

   A  B  C     Crime
0  1  2  3       mom
1  2  3  4       dad
2  3  4  5  mistress
3  5  6  7  jon snow

In [4]:
s_df.show()

+---+---+---+--------+
|  A|  B|  C|   Crime|
+---+---+---+--------+
|  1|  2|  3|     mom|
|  2|  3|  4|     dad|
|  3|  4|  5|mistress|
|  5|  6|  7|jon snow|
+---+---+---+--------+

In [5]:
type(s_df), type(p_df)

(pyspark.sql.dataframe.DataFrame, pandas.core.frame.DataFrame)

In [6]:
# how to create an rdd:
rdd1 = spark.sparkContext.parallelize(data)

In [7]:
type(rdd1)

pyspark.rdd.RDD

In [8]:
# This will convert it into a dataframe
type(rdd1.toDF(cols))

pyspark.sql.dataframe.DataFrame

In [9]:
rdd1.collect()

[[1, 2, 3, 'mom'],
 [2, 3, 4, 'dad'],
 [3, 4, 5, 'mistress'],
 [5, 6, 7, 'jon snow']]

In [10]:
rdd1

ParallelCollectionRDD[9] at parallelize at PythonRDD.scala:175

###  A test to see what data structures are supported by RDDs

In [13]:
data_diverse = [[[1], [2], [3]],
                   "test"]
rdd_div = spark.sparkContext.parallelize(data_diverse)
rdd_div.collect()

[[[1], [2], [3]], 'test']

In [37]:
s_df.collect()

[Row(A=1, B=2, C=3, Crime='mom'),
 Row(A=2, B=3, C=4, Crime='dad'),
 Row(A=3, B=4, C=5, Crime='mistress'),
 Row(A=5, B=6, C=7, Crime='jon snow')]

In [ ]:
# reading a csv

In [49]:
# gotta add the header =True tag to use a header else it will break
s_csv_df = spark.read.format('csv')\
                                .options(header=True)\
                                .load("/home/shiv/projects/cnk/datasets/phase2/Results/PositiveData_Tourico_14May.csv")

In [53]:
s_csv_df.show(n=3)
# n is no of rows to display

+--------------------+--------------------+------------------------+--------------------+---------------+--------------------+----------------+-------------------+-------------------+-------------------------------+--------------------+------------+-----------+-----------+--------------------------------------+--------------------+--------------------+------------+--------------+--------------------+----------------------+----------------------+--------------------+--------------------+-------------------------+--------+-----------------------+----------+--------------+-----------------+----------+--------------+--------------+-------------------+------------+--------------------+----------------------+---------------------+--------------------+----------------------+-----------------+--------------------+--------------------+------------+-------------------------------+-----------------------------+--------------------+--------------------+--------------------+-------------+-------------+---------------+----------------+-----------------------+-------------------+
|    SupplierRoomName|        AccoRoomName|SupplierCompoundRoomName|AccoCompoundRoomName|SimilarityScore|SupplierRoomCategory|SupplierRoomView|SupplierRoomBedType|SupplierRoomSmoking|SupplierRoomExtractedAttributes|    AccoRoomCategory|AccoRoomView|AccoBedType|AccoSmoking|AccommodationSupplierRoomTypeMappingId|     AccommodationId|          SupplierId|SupplierName|SupplierRoomId|SupplierRoomTypeCode|SupplierRoomCreateDate|SupplierRoomCreateUser|SupplierRoomEditDate|SupplierRoomEditUser|SupplierRoomMappingStatus|   MapId|AccommodationRoomInfoId|TLGXAccoId|TLGXAccoRoomId|TLGXCommonHotelId|AccoRoomId|AccoCreateDate|AccoCreateUser|       AccoEditDate|AccoEditUser|          TXRoomName|SupplierRoomCategoryId|SupplierRoomMaxAdults|SupplierRoomMaxChild|SupplierRoomMaxInfants|MaxGuestOccupancy|SupplierRoomQuantity|SupplierRoomRatePlan|RatePlanCode|SupplierRoomSupplierProductName|SupplierRoomSupplierProductId|      TxStrippedName|     TxReorderedName|SupplierRoomRoomSize|AccoRoomDecor|AccoFloorName|AccoFloorNumber|AccoBathRoomType|AccoCompanyRoomCategory|SimilarityIndicator|
+--------------------+--------------------+------------------------+--------------------+---------------+--------------------+----------------+-------------------+-------------------+-------------------------------+--------------------+------------+-----------+-----------+--------------------------------------+--------------------+--------------------+------------+--------------+--------------------+----------------------+----------------------+--------------------+--------------------+-------------------------+--------+-----------------------+----------+--------------+-----------------+----------+--------------+--------------+-------------------+------------+--------------------+----------------------+---------------------+--------------------+----------------------+-----------------+--------------------+--------------------+------------+-------------------------------+-----------------------------+--------------------+--------------------+--------------------+-------------+-------------+---------------+----------------+-----------------------+-------------------+
|Regency Ste King ...|Regency Suite Kin...|    regency ste king ...|regency suite kin...|              1|       regency suite|            null|           King Bed|               null|           [{'Key': 'BOARD-B...|Regency Suite Kin...|        null|   King Bed| nonsmoking|                  9cd36b7a-3cea-430...|5acdd190-cdbd-11e...|c6f2f7ae-5ae2-48b...|     Tourico|          null|            16347794|   24-03-2018 00:00:00|                  TLGX| 03-03-2019 08:34:04|hemendra.hada@uni...|                   MAPPED|18346051|   de6f2847-5bdc-4c7...| ACCO11525|ACCOROOM587988|           139664| 201300347|          null|       EAN_MIG|22-11-2018 12:21:03|    MDM_Sync|REGENCY SUITE KIN...|                  null|                 null|                null|                  null|                3|                   0|                null|        null|           Hyatt Regency Bel...|                      1040049|  REGENCY SUITE KING|  REGENCY SUITE KING|                null|         null|         null|           null|            null|                   null|               True|
|1 Kg Club Access ...|Club Room, 1 King...|    1 kg club access ...|club room 1 king ...|              1|                null|            null|            1 KING |               null|           [{'Key': 'INTERNE...|           Club Room|        null|   King Bed| nonsmoking|                  df25a998-369e-4dc...|53aabb81-cdb2-11e...|c6f2f7ae-5ae2-48b...|     Tourico|          null|            15031981|   24-03-2018 00:00:00|                  TLGX| 04-03-2019 16:47:44|vishal.jangid@uni...|                   MAPPED|   41088|   094bc267-bbf9-4fc...| ACCO28563|ACCOROOM171644|           107231| 200223720|          null|       EAN_MIG|22-11-2018 12:21:03|    MDM_Sync|1 KING CLUB ACCES...|                  null|                 null|                null|                  null|                3|                   0|                null|        null|           Hyatt Regency Che...|                      1476005|              1 KING|              1 KING|                null|         null|         null|           null|            null|                   null|               True|
|1 KG CLUB ACCESS ...|Club Room, 1 King...|    1 kg club access ...|club room 1 king ...|              1|                null|            null|            1 KING |               null|           [{'Key': 'BED-TYP...|           Club Room|        null|   King Bed| nonsmoking|                  b379b448-d6ed-418...|53aabb81-cdb2-11e...|c6f2f7ae-5ae2-48b...|     Tourico|          null|            17093337|   24-03-2018 00:00:00|                  TLGX| 04-03-2019 16:48:15|vishal.jangid@uni...|                   MAPPED|14406892|   094bc267-bbf9-4fc...| ACCO28563|ACCOROOM171644|           107231| 200223720|          null|       EAN_MIG|22-11-2018 12:21:03|    MDM_Sync|1 KING CLUB ACCES...|                  null|                 null|                null|                  null|                3|                   0|                null|        null|           Hyatt Regency Che...|                      1476005|1 KING 4 6 NIGHT ...|1 KING 4 6 NIGHT ...|                null|         null|         null|           null|            null|                   null|               True|
+--------------------+--------------------+------------------------+--------------------+---------------+--------------------+----------------+-------------------+-------------------+-------------------------------+--------------------+------------+-----------+-----------+--------------------------------------+--------------------+--------------------+------------+--------------+--------------------+----------------------+----------------------+--------------------+--------------------+-------------------------+--------+-----------------------+----------+--------------+-----------------+----------+--------------+--------------+-------------------+------------+--------------------+----------------------+---------------------+--------------------+----------------------+-----------------+--------------------+--------------------+------------+-------------------------------+-----------------------------+--------------------+--------------------+--------------------+-------------+-------------+---------------+----------------+-----------------------+-------------------+
only showing top 3 rows

In [54]:
s_csv_df.printSchema()

root
 |-- SupplierRoomName: string (nullable = true)
 |-- AccoRoomName: string (nullable = true)
 |-- SupplierCompoundRoomName: string (nullable = true)
 |-- AccoCompoundRoomName: string (nullable = true)
 |-- SimilarityScore: string (nullable = true)
 |-- SupplierRoomCategory: string (nullable = true)
 |-- SupplierRoomView: string (nullable = true)
 |-- SupplierRoomBedType: string (nullable = true)
 |-- SupplierRoomSmoking: string (nullable = true)
 |-- SupplierRoomExtractedAttributes: string (nullable = true)
 |-- AccoRoomCategory: string (nullable = true)
 |-- AccoRoomView: string (nullable = true)
 |-- AccoBedType: string (nullable = true)
 |-- AccoSmoking: string (nullable = true)
 |-- AccommodationSupplierRoomTypeMappingId: string (nullable = true)
 |-- AccommodationId: string (nullable = true)
 |-- SupplierId: string (nullable = true)
 |-- SupplierName: string (nullable = true)
 |-- SupplierRoomId: string (nullable = true)
 |-- SupplierRoomTypeCode: string (nullable = true)
 |-- SupplierRoomCreateDate: string (nullable = true)
 |-- SupplierRoomCreateUser: string (nullable = true)
 |-- SupplierRoomEditDate: string (nullable = true)
 |-- SupplierRoomEditUser: string (nullable = true)
 |-- SupplierRoomMappingStatus: string (nullable = true)
 |-- MapId: string (nullable = true)
 |-- AccommodationRoomInfoId: string (nullable = true)
 |-- TLGXAccoId: string (nullable = true)
 |-- TLGXAccoRoomId: string (nullable = true)
 |-- TLGXCommonHotelId: string (nullable = true)
 |-- AccoRoomId: string (nullable = true)
 |-- AccoCreateDate: string (nullable = true)
 |-- AccoCreateUser: string (nullable = true)
 |-- AccoEditDate: string (nullable = true)
 |-- AccoEditUser: string (nullable = true)
 |-- TXRoomName: string (nullable = true)
 |-- SupplierRoomCategoryId: string (nullable = true)
 |-- SupplierRoomMaxAdults: string (nullable = true)
 |-- SupplierRoomMaxChild: string (nullable = true)
 |-- SupplierRoomMaxInfants: string (nullable = true)
 |-- MaxGuestOccupancy: string (nullable = true)
 |-- SupplierRoomQuantity: string (nullable = true)
 |-- SupplierRoomRatePlan: string (nullable = true)
 |-- RatePlanCode: string (nullable = true)
 |-- SupplierRoomSupplierProductName: string (nullable = true)
 |-- SupplierRoomSupplierProductId: string (nullable = true)
 |-- TxStrippedName: string (nullable = true)
 |-- TxReorderedName: string (nullable = true)
 |-- SupplierRoomRoomSize: string (nullable = true)
 |-- AccoRoomDecor: string (nullable = true)
 |-- AccoFloorName: string (nullable = true)
 |-- AccoFloorNumber: string (nullable = true)
 |-- AccoBathRoomType: string (nullable = true)
 |-- AccoCompanyRoomCategory: string (nullable = true)
 |-- SimilarityIndicator: string (nullable = true)

In [56]:
# renaming a column in pandas and spark
p_df, s_df

(   A  B  C     Crime
 0  1  2  3       mom
 1  2  3  4       dad
 2  3  4  5  mistress
 3  5  6  7  jon snow,
 DataFrame[A: bigint, B: bigint, C: bigint, Crime: string])

In [57]:
mapping = {'A':'RenamedColumn'}
p_df.rename(columns=mapping, inplace = True)
p_df

   RenamedColumn  B  C     Crime
0              1  2  3       mom
1              2  3  4       dad
2              3  4  5  mistress
3              5  6  7  jon snow

In [58]:
renaming = [mapping.get(col, col) for col in s_df.columns]
# s_df.toDF()
renaming

['RenamedColumn', 'B', 'C', 'Crime']

In [69]:
s_df.toDF(*renaming).show()

+-------------+---+---+--------+
|RenamedColumn|  B|  C|   Crime|
+-------------+---+---+--------+
|            1|  2|  3|     mom|
|            2|  3|  4|     dad|
|            3|  4|  5|mistress|
|            5|  6|  7|jon snow|
+-------------+---+---+--------+

In [70]:
# method 2
s_df.withColumnRenamed('B', 'NewNameForB').show()

+---+-----------+---+--------+
|  A|NewNameForB|  C|   Crime|
+---+-----------+---+--------+
|  1|          2|  3|     mom|
|  2|          3|  4|     dad|
|  3|          4|  5|mistress|
|  5|          6|  7|jon snow|
+---+-----------+---+--------+

In [71]:
# dropping columns
p_df.drop(columns=['B'])

   RenamedColumn  C     Crime
0              1  3       mom
1              2  4       dad
2              3  5  mistress
3              5  7  jon snow

In [77]:
s_df.drop(*['B', 'A']).show() # dropping multiple of them

+---+--------+
|  C|   Crime|
+---+--------+
|  3|     mom|
|  4|     dad|
|  5|mistress|
|  7|jon snow|
+---+--------+

In [78]:
# filters in dataframes are same as filters in pandas dataframes

p_df[p_df.Crime == 'mom']

   RenamedColumn  B  C Crime
0              1  2  3   mom

In [80]:
s_df[s_df.Crime == 'mom'].show()

+---+---+---+-----+
|  A|  B|  C|Crime|
+---+---+---+-----+
|  1|  2|  3|  mom|
+---+---+---+-----+

In [81]:
# lambdas adn withColumns
p_df['C_norm'] = p_df.C/p_df.C.sum()

In [82]:
p_df

   RenamedColumn  B  C     Crime    C_norm
0              1  2  3       mom  0.157895
1              2  3  4       dad  0.210526
2              3  4  5  mistress  0.263158
3              5  6  7  jon snow  0.368421

In [91]:
# column name, lambda
C_sum = s_df.groupBy().agg(F.sum('C')).collect()[0][0]
s_df.withColumn('C_norm', s_df.C/C_sum).show()

+---+---+---+--------+-------------------+
|  A|  B|  C|   Crime|             C_norm|
+---+---+---+--------+-------------------+
|  1|  2|  3|     mom|0.15789473684210525|
|  2|  3|  4|     dad|0.21052631578947367|
|  3|  4|  5|mistress| 0.2631578947368421|
|  5|  6|  7|jon snow| 0.3684210526315789|
+---+---+---+--------+-------------------+

### sql.fucntions contains a lot of standard math functionalities that we can apply on the columns

In [93]:
# concat a column
s_df.withColumn("concated", F.concat('A', 'Crime')).show()

+---+---+---+--------+---------+
|  A|  B|  C|   Crime| concated|
+---+---+---+--------+---------+
|  1|  2|  3|     mom|     1mom|
|  2|  3|  4|     dad|     2dad|
|  3|  4|  5|mistress|3mistress|
|  5|  6|  7|jon snow|5jon snow|
+---+---+---+--------+---------+

In [ ]:
# ranking values is another important functionality in dataframes